//
// home.scss
//

@mixin home-common {
    background-size: cover;
    align-self: center;
    position: relative;
    background-position: center center;
}
.bg-home, .bg-special {
    height: 100vh;    
    @include home-common();
}
.bg-half-260 {
    padding: 260px 0;    
    @include home-common();
}
.bg-half-170 {
    padding: 170px 0;    
    @include home-common();
}
.bg-half {
    padding: 144px 0 50px;
    @include home-common();
}
//index_business.html
.home-slider {
    .carousel-control-next,
    .carousel-control-prev {
        width: 5%;
    }
}

//page_profile.html(Proflie)
.bg-profile {
    padding: 140px 0;
    @include home-common();
    .profile {
        letter-spacing: 0.5px;
        position: relative;
        padding-left: 0;
        top: 160px;
        z-index: 99;
        img {
            max-height: 140px !important;
        }
    }
}

//Saas
.home-dashboard {
    img {
        position: relative;
        top: 60px;
        z-index: 1;
    }
}
//index_freelancer.html
.bg-hero {
    padding: 100px 0;
    @include home-common();    
}
//index_application.html
.home-img {
    img {
        max-height: 600px;
        position: relative;
    }
}
.home-shape {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: -1px;
    left: 0;
    img {
        width: 100%;
        height: auto;
    }
}

.bg-animation-left {
    &:after {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 70%;
        height: 100%;
        background: $white none repeat scroll 0 0;
        opacity: 0.85;
        clip-path: polygon(0 0, 90% 0, 70% 100%, 0% 100%);
    }
}

@media (min-width:768px) {
    .home-dashboard {
        overflow: hidden;
    }
}

@media (max-width: 768px) {
    .bg-half {
        padding: 169px 0 50px;
    }
}
@media (max-width: 767px) {
    .bg-home, .bg-half-170, .bg-half-260, .bg-hero {        
        padding: 150px 0;
        height: auto;
    }
    .bg-animation-left {
        &:after {
            width: 100%;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
    }
}